/***
 *      /$$$$$$                                          /$$       /$$                        
 *     /$$__  $$                                        |__/      | $$                        
 *    | $$  \ $$ /$$    /$$ /$$$$$$   /$$$$$$   /$$$$$$  /$$  /$$$$$$$  /$$$$$$               
 *    | $$  | $$|  $$  /$$//$$__  $$ /$$__  $$ /$$__  $$| $$ /$$__  $$ /$$__  $$              
 *    | $$  | $$ \  $$/$$/| $$$$$$$$| $$  \__/| $$  \__/| $$| $$  | $$| $$$$$$$$              
 *    | $$  | $$  \  $$$/ | $$_____/| $$      | $$      | $$| $$  | $$| $$_____/              
 *    |  $$$$$$/   \  $/  |  $$$$$$$| $$      | $$      | $$|  $$$$$$$|  $$$$$$$              
 *     \______/     \_/    \_______/|__/      |__/      |__/ \_______/ \_______/              
 *     /$$$$$$$                        /$$                /$$                                 
 *    | $$__  $$                      | $$               | $$                                 
 *    | $$  \ $$  /$$$$$$   /$$$$$$  /$$$$$$   /$$$$$$$ /$$$$$$    /$$$$$$  /$$$$$$   /$$$$$$ 
 *    | $$$$$$$  /$$__  $$ /$$__  $$|_  $$_/  /$$_____/|_  $$_/   /$$__  $$|____  $$ /$$__  $$
 *    | $$__  $$| $$  \ $$| $$  \ $$  | $$   |  $$$$$$   | $$    | $$  \__/ /$$$$$$$| $$  \ $$
 *    | $$  \ $$| $$  | $$| $$  | $$  | $$ /$$\____  $$  | $$ /$$| $$      /$$__  $$| $$  | $$
 *    | $$$$$$$/|  $$$$$$/|  $$$$$$/  |  $$$$//$$$$$$$/  |  $$$$/| $$     |  $$$$$$$| $$$$$$$/
 *    |_______/  \______/  \______/    \___/ |_______/    \___/  |__/      \_______/| $$____/ 
 *     /$$    /$$                    /$$           /$$       /$$                    | $$      
 *    | $$   | $$                   |__/          | $$      | $$                    | $$      
 *    | $$   | $$ /$$$$$$   /$$$$$$  /$$  /$$$$$$ | $$$$$$$ | $$  /$$$$$$   /$$$$$$$|__/      
 *    |  $$ / $$/|____  $$ /$$__  $$| $$ |____  $$| $$__  $$| $$ /$$__  $$ /$$_____/          
 *     \  $$ $$/  /$$$$$$$| $$  \__/| $$  /$$$$$$$| $$  \ $$| $$| $$$$$$$$|  $$$$$$           
 *      \  $$$/  /$$__  $$| $$      | $$ /$$__  $$| $$  | $$| $$| $$_____/ \____  $$          
 *       \  $/  |  $$$$$$$| $$      | $$|  $$$$$$$| $$$$$$$/| $$|  $$$$$$$ /$$$$$$$/          
 *     /$$\_//$$ \_______/|__/      |__/ \_______/|_______/ |__/ \_______/|_______/           
 *    | $$  | $$                                                                              
 *    | $$  | $$  /$$$$$$   /$$$$$$   /$$$$$$                                                 
 *    | $$$$$$$$ /$$__  $$ /$$__  $$ /$$__  $$                                                
 *    | $$__  $$| $$$$$$$$| $$  \__/| $$$$$$$$                                                
 *    | $$  | $$| $$_____/| $$      | $$_____/                                                
 *    | $$  | $$|  $$$$$$$| $$      |  $$$$$$$                                                
 *    |__/  |__/ \_______/|__/       \_______/                                                
 *                                                                                            
 *                                                                                            
 *                                                                                            
 */


// Body
$body-bg: #f8fafc;

// Typography

$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

  
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Shadows
$enable-shadows:true;

 $font-family-base:'Oxanium'; 
