// Fonts
@import url('https://fonts.googleapis.com/css?family=Baloo+Da|Noto+Sans|Oxanium|Squada+One&display=swap');

// icons
@import "font-awesome/fontawesome.scss";
@import "font-awesome/regular.scss";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

  body {

    font-family: 'Baloo Da' ,;
    font-stretch: 'expanded';
    font-size: 1.4rem;
    
  }

  main {

    min-height:75%;
  }









