// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



html {
  position: relative;
  min-height: 100%;
}

body {
//   margin-bottom: 60px; /* Margin bottom by footer height */
  margin-bottom:270px; /* Margin bottom by footer height */
}

.fix-bottom {
  box-sizing:border-box;
  position: absolute;
  // height:250px;
  bottom: 0;
  width:90%;
  margin-top:5px;
  margin-bottom:15px;


   
}



